<!DOCTYPE HTML>
<html>
<head>
<title>Tests</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!----font-Awesome----->
<link href="css/font-awesome.css" rel="stylesheet"> 
</head>
<body ng-app="myDemo">
 <div class="navbar navbar-inverse-blue navbar" id="top-dropdown-menu" ng-controller="myDemoCtrl">
      <div class="navbar-inner">
        <div class="container">
          <div class="pull-right">
          	<nav class="navbar nav_bottom" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
		   <!-- Top right Menu -->
		    <div class="">
		        <ul class="nav top-right-menu navbar-nav">
		            <li class="dropdown attachments-menu-title"><a href="#" ng-click="toggle1=!toggle1" class="dropdown-toggle" ng-init="toggle1=true"  ><span class="notification-count">4</span>Attachments<span class="caret"></span></a>
						<div class="attachments-menu"  role="menu" resize ng-style="style()" data-slide-toggle="toggle1" >
							<h2>Repair Order Attachments<span class="close-btn" ><a href="#" ng-click="toggle1=!toggle1" ng-init="toggle1=true">&times;</a></span></h2>
							<p><i>Move jobs to other attachments is necessary</i></p>
							<h5 class="desc-title">Description</h5>
							<div ng-repeat="joblist in joblists">
							<div class="attachments-group">
								<h3><span>{{joblist.type}}</span><a href="javascript:void(0);" class="attachment-link">Add Attachment</a></h3>
								<ul class="attachment-list">
									<li ng-repeat="attachment in joblist.attachments">
										<span class="actions">
											<a class="edit-action" href="#">Edit</a>
											<a class="save-action" href="#"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></a>
											<a class="cancel-action" href="#"><i class="fa fa-times-circle fa-lg" aria-hidden="false"></i></a>
										</span>
									<span><img src="{{getImage(attachment.contentType)}}" width="48" height="48"></span>
										<span class="attachment-details">
											<h6>{{attachment.name}}</h6>
											<span>{{attachment.contentType==="pdf" ? "Photo" : attachment.contentType==="excel"?"Excel File":attachment.contentType==="msword"?"MS Word":attachment.contentType==="email"?"E-Mail":"Reporting Document"}}</span>
											<span>{{attachment.enterOn | date:'EEEE,MMM dd, yyyy, HH:mm'}}</span>
										</span>
									</li>
								</ul>
							</div>
							</div>
							<div class="attachment-popup">
								<h2>Add Attachment:<span class="close-popup"><a href="javascript:void(0);">&times;</a></span></h2>
								<h3>PM DE1 - Heavy Duty Diesel - Federal Annual Inspection</h3>
								<form>
									<div class="form-row">
										<label>Attachment Name</label>
										<input type="text"  name="attachmentName" value="My Photo">
									</div>
									<div class="form-row">
										<label>Attachment Type</label>
										<select type="text"  name="attachmentName" value="My Photo">								
											<option value="">Select Attachment Type</option>
											<option selected value="">Picture of Photo</option>
											<option value="">Picture of Document</option>
										</select>
									</div>
									<div class="form-row">
										<label>Photo</label>
										<div class="photo-attachment">
											<span class="actions">
												<a class="add-action" href="#">Try Again</a>
											</span>
											<span><img src="test-img.jpg" width="48" height="48"></span>
											<span class="attachment-details">
												<span>Tuesday, Jan 27, 2016, 7:24am</span>
											</span>
										</div>
									</div>
									<div class="form-row">
										<input class="green-btn" type="submit" value="Finish">
										<a href="javascript:void(0);" class="cancel-btn">Cancel</a>
									</div>
								</form>
							</div>
						</div>
					</li>
		            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="notification-count">2</span>Parts<span class="caret"></span></a>
						<!-- <ul class="dropdown-menu" role="menu">
							<li><a href="upcoming-events.html">Test Parts1</a></li>
							<li><a href="completed-events.html">Test Parts2</a></li>
						</ul> -->
					</li>
		        </ul>
		     </div><!-- /.navbar-collapse -->
		    </nav>
		   </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
	<div class="col-md-12">
	Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	</div>

	<script>
	var appl=angular.module("myDemo",[]);
	appl.controller("myDemoCtrl",function($scope, $http){
	$http.get("jsonFile/data.json").then(function(response){
		$scope.joblists=response.data.repairOrder.joblist;
	//console.log(response.data.repairOrder);
	},function(response){
	$scope.content="Error";
	});
	$scope.getImage=function(type){
		var imageType={};
		imageType["pdf"]="pdf.jpg";
		imageType["excel"]="excel.jpg";
		imageType["msword"]="word.jpg";
		imageType["email"]="email.jpg";
		imageType["document"]="document.jpg";
		return imageType[type];
	}
	});
	appl.directive('resize', function ($window) {
	    return function (scope, element) {
	        var w = angular.element($window);
	        scope.getWindowDimensions = function () {
	            return {
	                'w': w.width()
	            };
	        };
	        scope.$watch(scope.getWindowDimensions, function (newValue, oldValue) {
	            scope.windowWidth = newValue.w;
	            scope.style = function () {
	                return {
	                        'width': (newValue.w * .45) + 'px'
	                };
	            };
	        }, true);
	        w.bind('resize', function () {
	            scope.$apply();
	        });
	    }
	});
	appl.directive('slideToggle', function() {  
		  return {
		    scope:{
		      isOpen: "=slideToggle"
		    },  
		    link: function(scope, element, attr) {
		      var slideDuration =  400; 
		      if (attr.startShown=="false") {
		                element.hide();
		            }
		      scope.$watch('isOpen', function(newVal,oldVal){
		        if(newVal !== oldVal){ 
		          element.stop().slideToggle(slideDuration);
		        }
		      });
		    }
		  };  
		});

	</script>	
<script>
	
$(document).ready(function(){
$(document).delegate(".attachment-link",'click',function(e){console.log(23);
$('.attachment-popup').slideDown("fast");
});
$(document).delegate(".close-popup a, .cancel-btn",'click',function(e){console.log(23);
$('.attachment-popup').slideUp("fast");
});
});
</script>
</body>
</html>		